# Base de Donne
## Base de Donnees Relationelles
* **Definition**: Organisees en table modelisant des systeme reels.

## Requetes SQL:

In [ ]:
'''Creation d une table'''
CREATE TABLE livres (
    ISBN VARCHAR(13) PRIMARY KEY,
    Titre VARCHAR(100),
    Auteur_id INT,
    Parution INT,
    FOREIGN KEY (Auteur_id) REFERENCES auteurs(id))

In [ ]:
'''Insertion d un enregistrement'''
INSERT INTO livres (ISBN, Titre, Auteur_id, Parution)
VALUES ('978-2-9155-4943-0', 'L\'Étoile de Pandore T1', 1, 2005);

In [ ]:
'''Selection de livres'''
SELECT * FROM livre WHERE Parution > 2000;

In [ ]:
'''Mise a jour dun livre'''
UPDATE livre SET Parution = 2006 WHERE ISBN = ‘978-2-9155-4943-0’

In [ ]:
'''Suppression d un livre'''
DELETE FROM livres WHERE ISBN = '978-2-9155-4943-0';

In [ ]:
'''Declaraiton d une cle etrangere'''
CREATE TABLE Auteurs (
    id_Auteur INT PRIMARY KEY,
    Nom VARCHAR(100)
);

CREATE TABLE Livres (
    ISBN VARCHAR(13) PRIMARY KEY,
    Titre VARCHAR(100),
    id_Auteur INT,
    FOREIGN KEY (id_Auteur) REFERENCES Auteurs(id_Auteur)
);

In [ ]:
'''Comment ca marche'''
SELECT Livres.Titre, Auteurs.Nom
FROM Livres
INNER JOIN Auteurs ON Livres.id_Auteur = Auteurs.id_Auteur;